html {
  font-size: 20px;
}
.btn {
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-transition: color 0.15s ease-in-out,
    background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  transition-property: color, background-color, border-color, box-shadow;
  -webkit-transition-property: color, background-color, border-color, box-shadow;
  transition-duration: 0.15s, 0.15s, 0.15s, 0.15s;
  -webkit-transition-duration: 0.15s, 0.15s, 0.15s, 0.15s;
  transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
  transition-delay: 0s, 0s, 0s, 0s;
  -webkit-transition-timing-function: ease-in-out, ease-in-out, ease-in-out,
    ease-in-out;
  -webkit-transition-delay: 0s, 0s, 0s, 0s;
}

.message {
  padding: 10px;
  max-width: 50vw;
  line-height: 20px;
  word-wrap: break-word;
  text-overflow: ellipsis;
  height: fit-content;
}
.my {
  border-radius: 15px 15px 0 15px;
  border: 1.5px solid #0d6efd;
  background-color: #0d6dfd1f;
  color: #0d6efd;
}
.test {
  min-height: fit-content;
  display: block;
}
.your {
  border-radius: 15px 15px 15px 0;
  border: 1.5px solid black;
  background-color: #f0f2f5;
}
.chat-area {
  height: 80vh;
  overflow: auto;
}
input {
  outline: none;
  border: 0;
  background-color: transparent;
}
.inputMsg {
  background-color: #f0f2f5;
  border-radius: 15px;
  padding: 4px 10px;
  transition: ease-in-out 0.25s;
}
.addon-button {
  display: flex;
  align-items: center;
  transition-property: transform;
  transition-duration: 0.25s;
  --webkit-transition-property: transform;
  --webkit-transition-duration: 0.25s;
  border-radius: 50%;
}
.addon-button.active {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
.addon-button:hover {
  box-shadow: 0 0 0 3px #e9e8e8;
}
.send:hover {
  color: #0d6dfdb9;
}
.send {
  color: #0d6efd;
}
.messageAlert {
  width: 100%;
  color: #6c757d;
  justify-content: space-around;
  align-items: center;
  display: flex;
}
.underline {
  width: 100%;
  height: 0.5px;
  border: 0.5px solid #d5d7db;
}

.icon {
  height: fit-content;
  width: fit-content;
  background-color: #e4e6eb;
  padding: 5px 9px 5px 9px;
  margin: 0 5px 0 5px;
  border-radius: 7px;
}

.icon:hover {
  background-color: #d5d7db;
}

.closeIcon {
  transform: rotate(35deg);
  -webkit-transform: rotate(35deg);
  -moz-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  -o-transform: rotate(35deg);
}

#addon.active {
  transform: translateY(-120%);
}
#addon {
  transition-property: transform;
  transition-duration: 0.25s;
  padding: 3px;
}
form {
  z-index: 1;
  position: absolute;
  bottom: 0;
  background-color: white;
  padding: 3px 0 3px 0;
}
.input {
  position: relative;
}
.attachment {
  background-color: rgba(134, 142, 153, 0.25);
  display: flex;
  align-items: center;
  margin: 2px 12px 2px 0px;
  padding: 0 16px 0 8px;
  height: 48px;
  border-radius: 10px;
  position: relative;
}
.attachment span {
  white-space: nowrap;
  font-size: 16px;
}
.bi-x-circle:hover {
  cursor: pointer;
}
.attachmentMsg {
  background-color: #f0f0f0 !important;
  border: none !important;
  color: black !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.attachmentMsg a {
  color: black;
  text-decoration: none;
}
.attachmentMsg a:hover {
  color: black;
  text-decoration: underline;
}
.attachmentMsg:hover {
  cursor: pointer;
}
.attachmentMsg label {
  font-size: small;
}
.attIcon {
  background-color: white;
  height: 30px;
  width: 30px;
  padding: 5px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
}
.audio {
  height: 40px;
  width: 250px;
  background-color: white;
  border-radius: 20px;
  border: 1px solid #0d6efd;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: ease-in-out 0.25s;
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
}
.playButton {
  height: fit-content;
  width: fit-content;
  background-color: #e4e6eb;
  border-radius: 50%;
  padding: 4px 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.playButton:hover {
  cursor: pointer;
}
.timeCoundown {
  background-color: #e4e6eb;
  padding: 0 7px;
  font-size: medium;
  font-weight: 500;
  border-radius: 16px;
  z-index: 2;
}
.ghost {
  width: 100px;
}
.timeline {
  width: 250px;
  height: 50px;
  position: absolute;
  background-color: #0d6efd;
  left: 0px;
  transform: translateX(-100%);
  transition: all 0.25s;
  z-index: 0;
}
.audio.active {
  transform: translate(-50%, -105%);
}
#closeAudioBtn {
  border-radius: 50%;
  transition-property: transform;
  transition-duration: 0.25s;
  --webkit-transition-property: transform;
  --webkit-transition-duration: 0.25s;
  z-index: 2;
  padding: 4px 4px;
  background-color: #e4e6eb;
}
#closeAudioBtn:hover {
  cursor: pointer;
}
.audioMsg {
  height: 40px;
  width: 250px;
  background-color: white;
  border-radius: 20px;
  border: 1px solid #0d6efd;
  transition: ease-in-out 0.25s;
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  color: black !important;
  position: relative;
}
.previewContainer {
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
  margin: 2px 12px 2px 0px;
  position: relative;
}
.previewContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.containerAttachment {
  padding: 8px 4px 2px 4px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
}
.removeAttIcon {
  position: absolute;
  right: -8px;
  top: -8px;
  direction: ltr;
}
.con {
  height: 24px;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: white;
}
.imageContainer {
  height: 100%;
  width: 100%;
}
.imageContainer img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.imageMsg {
  padding: 0px !important;
  margin: 0px !important;
  border: 0px !important;
  overflow: hidden;
  border-radius: 15px !important;
}
